<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Meus carros</title>   
    </head>
    <!-- eu abro -->
    {% block content %} 
        <body>
            <!-- <h1 style="color: aquamarine;">Carros do Carlos</h1>
            <h3>Só carros top!</h3> -->
            <h3>Carro 1: {{ cars.model }}</h3>
        </body>
    <!-- eu fecho -->
    {% endblock %}
</html>